.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header {
    width: 80%;
    height: 103px;
    margin: 0 auto;
    margin-top: 42px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6294A2;
    margin-right: 9px;
}
header {
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    width: 25%;
    align-items: center;
}
.right {
    display: flex;
    width: 20%;
}
.left ul, .right ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.left ul li:first-child {
    font-size: 22px;
    font-weight: bold;
}
.left ul li, .right ul li {
    font-weight: bold;
    font-size: 16px;
}